In [18]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import alpaca_trade_api as tradeapi
from MCForecastTools import MCSimulation
from dotenv import load_dotenv
load_dotenv()

%matplotlib inline

In [19]:
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")


api = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version = "v2"
)

In [29]:
ticker = "TSLA"

timeframe = "1Day"

start_date = pd.Timestamp("2022-01-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2022-12-31", tz="America/New_York").isoformat()

ticker_data = api.get_bars(
    ticker,
    timeframe,
    start=start_date,
    end=end_date
).df

ticker_data.head()

,open,high,low,close,volume,trade_count,vwap
timestamp,,,,,,,
2022-01-03 05:00:00+00:00,1147.75,1201.0700,1136.0400,1199.78,34890336,1162659,1170.754238
2022-01-04 05:00:00+00:00,1189.55,1208.0000,1123.0500,1149.59,33512632,1051348,1162.182187
2022-01-05 05:00:00+00:00,1146.65,1170.3400,1081.0101,1088.12,26748880,810846,1126.646002
2022-01-06 05:00:00+00:00,1077.00,1088.0000,1020.5000,1064.70,30134340,880379,1060.305232
2022-01-07 05:00:00+00:00,1080.37,1080.9299,1010.0000,1026.96,28053117,823207,1039.254771

In [30]:
ticker = "TSLA"

timeframe = "1Day"

start_date = pd.Timestamp("2023-01-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2023-03-31", tz="America/New_York").isoformat()

ticker_data = api.get_bars(
    ticker,
    timeframe,
    start=start_date,
    end=end_date
).df

ticker_data.head()

,open,high,low,close,volume,trade_count,vwap
timestamp,,,,,,,
2023-01-03 05:00:00+00:00,118.47,118.80,104.6400,108.10,231380437,2539823,109.507947
2023-01-04 05:00:00+00:00,109.11,114.59,107.5200,113.64,180362168,1651730,111.798500
2023-01-05 05:00:00+00:00,110.51,111.75,107.1601,110.34,157825186,1334959,109.654634
2023-01-06 05:00:00+00:00,103.00,114.39,101.8100,113.06,220931001,2015330,109.025919
2023-01-09 05:00:00+00:00,118.96,123.52,117.1100,119.77,190534048,1746068,121.034846